<section class="two-way-binding">

    <article>
  
      <h3>Two-way data binding</h3>
  
      <div>
  
      <input type="text" 
        [value]="nome"
        (input)="nome = $event.target.value"
      /><br/>
  
      <input type="text" 
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      /><br/>
  
      <input type="text" [(ngModel)]="nome"/><br/>
  
      <input type="text" ngModel="nome"/>
  
      <div>
  
        <p>O nome do indivíduo é {{ pessoa.nome }} e essa pessoa tem {{ pessoa.idade }} anos.</p>
  
        <input type="text" [(ngModel)]="pessoa.nome"/><br/>
        <input type="text" [(ngModel)]="pessoa.idade"/><br/>
  
      </div>
  
      <p>O nome inserido é: {{ nome }}</p>
  
      </div>
  
    </article>
  
  </section>
  