<section class="event-binding">

  <article>
    <h3 style="text-align: center;">Event Binding</h3>

    <div class="container" style="text-align: center;">

      <button (click)="botaoClicado();"
      class="btn btn-primary">Clique aqui</button>

      <br/><br/>

      <!-- <input type="text" 
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor($event.target.value)"
        (blur)="salvarValor($event.target.value)"
        /><br/> -->

      <input type="text" 
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(campoInput.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput
      /><br/>

      <p>Valor atual é {{ valorAtual }}</p>
      <p>Valor salvo é {{ valorSalvo }}</p>

      <span
      (mouseover)="onMouseOverOut()"
      (mouseout)="onMouseOverOut()"
      [class.highlight]="isMouseOver"
       >Mouse over event</span>

    </div>

  </article>

</section>